{% extends 'base.html.twig' %}

{% block body %}
    <h1>Funcionarios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Documentoidentidad</th>
                <th>Tipodocumento</th>
                <th>Fechanacimiento</th>
                <th>Sexo</th>
                <th>Salario</th>
                <th>Email</th>
                <th>Fechainicio</th>
                <th>Fechaentrada</th>
                <th>Fechasalida</th>
                <th>Curriculum</th>
                <th>Observaciones</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for funcionario in funcionarios %}
            <tr>
                <td><a href="{{ path('funcionarios_show', { 'id': funcionario.id }) }}">{{ funcionario.id }}</a></td>
                <td>{{ funcionario.nombre }}</td>
                <td>{{ funcionario.apellido }}</td>
                <td>{{ funcionario.documentoIdentidad }}</td>
                <td>{{ funcionario.tipoDocumento }}</td>
                <td>{% if funcionario.fechaNacimiento %}{{ funcionario.fechaNacimiento|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ funcionario.sexo }}</td>
                <td>{{ funcionario.salario }}</td>
                <td>{{ funcionario.email }}</td>
                <td>{% if funcionario.fechaInicio %}{{ funcionario.fechaInicio|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if funcionario.fechaEntrada %}{{ funcionario.fechaEntrada|date('H:i:s') }}{% endif %}</td>
                <td>{% if funcionario.fechaSalida %}{{ funcionario.fechaSalida|date('H:i:s') }}{% endif %}</td>
                <td>{{ funcionario.curriculum }}</td>
                <td>{{ funcionario.observaciones }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('funcionarios_show', { 'id': funcionario.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('funcionarios_edit', { 'id': funcionario.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('funcionarios_new') }}">Create a new funcionario</a>
        </li>
    </ul>
{% endblock %}
