<div id="top">
    <div class="container">
        <div class="row">
            <div class="col-xs-5 contact">
                <p class="hidden-sm hidden-xs">Contact us on +420 777 555 333 or hello@universal.com.</p>
                <p class="hidden-md hidden-lg"><a href="#" data-animate-hover="pulse"><i
                                class="fa fa-phone"></i></a> <a href="#" data-animate-hover="pulse"><i
                                class="fa fa-envelope"></i></a>
                </p>
            </div>
            <div class="col-xs-7">
                <div class="social">
                    <a href="#" class="external facebook" data-animate-hover="pulse"><i
                                class="fa fa-facebook"></i></a>
                    <a href="#" class="external gplus" data-animate-hover="pulse"><i
                                class="fa fa-google-plus"></i></a>
                    <a href="#" class="external twitter" data-animate-hover="pulse"><i
                                class="fa fa-twitter"></i></a>
                    <a href="#" class="email" data-animate-hover="pulse"><i class="fa fa-envelope"></i></a>
                </div>






                <div class="login">

                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                        {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                        <a href="{{ path('fos_user_security_logout') }}">
                            {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                        </a>
                    {% else %}
                        <a href="{{ path('fos_user_security_login') }}"><i class="fa fa-sign-in"></i>
                            <span class="hidden-xs text-uppercase">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</span></a>

                        <a href="{{ path('fos_user_registration_register') }}"><i class="fa fa-user"></i> <span
                                    class="hidden-xs text-uppercase">Registrarse</span></a>
                    {% endif %}

                </div>

                <div>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'es'})) }}">
                        <span class="hidden-xs text-uppercase">Español</span></a>
                    <a href="{{ path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params') | merge({'_locale': 'en'})) }}">
                        <span class="hidden-xs text-uppercase">Inglés</span></a>
                </div>

            </div>
        </div>
    </div>
</div>