{% set imagen = producto.nombre in ['Producto 1', 'Producto 2', 'Producto 3'] ? producto.nombre : 'producto' %}

{% set pantallaGrande = pantallaGrande is defined ? pantallaGrande : true %}

{#{% if pantallaGrande is defined %}#}
    {#{% set pantallaGrande = pantallaGrande %}#}
{#{% else %}#}
    {#{% set pantallaGrande = true %}#}
{#{% endif %}#}

<div class="{% if pantallaGrande %}col-md-3 col-sm-4{% else %}col-md-4 col-sm-6{% endif %}">
    <div class="product">
        <div class="image">
            <a href="shop-detail.html">
                <img src="{{ asset('bundles/app/img/' ~ imagen ~ '.jpg') }}" alt="" class="img-responsive image1">
            </a>
        </div>
        <!-- /.image -->
        <div class="text">
            <h3><a href="shop-detail.html">{{ producto.nombre }}</a></h3>
            <p class="price">
                {% if producto.oferta %}
                    <del>{{ producto.precio }}</del>
                    {{ producto.getDescuento() }}
                {% else %}
                    {{ producto.precio }}
                {% endif %}
            </p>
            <p class="buttons">
                <a href="shop-detail.html" class="btn btn-default">View detail</a>
                <a href="shop-basket.html" class="btn btn-template-main"><i class="fa fa-shopping-cart"></i>Add to cart</a>
            </p>
        </div>
        <!-- /.text -->

        {% if producto.oferta %}
        <div class="ribbon sale">
            <div class="theribbon">SALE</div>
            <div class="ribbon-background"></div>
        </div>
        {% endif %}

        {% if producto.nuevo != null and date(producto.nuevo) >= (date('now' | date('Y-m-d'))) %}
        <div class="ribbon new">
            <div class="theribbon">NEW</div>
            <div class="ribbon-background"></div>
        </div>
        {% endif %}

    </div>
    <!-- /.product -->
</div>