{% extends 'layoutCliente.html.twig' %}

{% block title %}Productos{% endblock %}

{% block content %}

    <div id="content">
        <div class="container">

            <div class="row">


                <!-- *** LEFT COLUMN ***
        _________________________________________________________ -->

                <div class="col-sm-3">

                    <!-- *** MENUS AND FILTERS ***
_________________________________________________________ -->
                    <div class="panel panel-default sidebar-menu">

                        <div class="panel-heading">
                            <h3 class="panel-title">Categorias</h3>
                        </div>

                        <div class="panel-body">
                            <ul class="nav nav-pills nav-stacked category-menu">

                                {% for fila in categorias %}
                                    <li class="{% if app.request.get('categoriaSlug') == fila[0].slug %}active{% endif %}">
                                        <a href="{{ path('productos_by_categoria',{'categoriaSlug': fila[0].slug}) }}">
                                            {{ fila[0].nombre }}
                                            <span class="badge pull-right">{{ fila.cantidad }}</span>
                                        </a>
                                    </li>
                                {% endfor %}

                            </ul>

                        </div>
                    </div>


                </div>
                <!-- /.col-md-3 -->

                <!-- *** LEFT COLUMN END *** -->

                <!-- *** RIGHT COLUMN ***
        _________________________________________________________ -->

                <div class="col-sm-9">

                    <p class="text-muted lead">In our Ladies department we offer wide selection of the best products we
                        have found and carefully selected worldwide. Pellentesque habitant morbi tristique senectus et
                        netuss.</p>

                    <div class="count">
                        Total de Producto: {{ pagination.getTotalItemCount }}
                    </div>

                    <div class="navigation">
                        {{ knp_pagination_render(pagination) }}
                    </div>

                    <div class="row products">

                        {% for producto in pagination %}
                            {% include '@App/Partials/producto.html.twig' with {
                            'producto': producto,
                            'pantallaGrande' : false
                            } %}
                        {% endfor %}

                    </div>
                    <!-- /.products -->

                    <div class="row">

                        <div class="col-md-12 banner">
                            <a href="#">
                                <img src="{{ asset('bundles/app/img/banner2.jpg') }}" alt="" class="img-responsive">
                            </a>
                        </div>

                    </div>


                    <div class="pages">

                        <p class="loadMore">
                            <a href="#" class="btn btn-template-main"><i class="fa fa-chevron-down"></i> Load more</a>
                        </p>

                        <ul class="pagination">
                            <li><a href="#">&laquo;</a>
                            </li>
                            <li class="active"><a href="#">1</a>
                            </li>
                            <li><a href="#">2</a>
                            </li>
                            <li><a href="#">3</a>
                            </li>
                            <li><a href="#">4</a>
                            </li>
                            <li><a href="#">5</a>
                            </li>
                            <li><a href="#">&raquo;</a>
                            </li>
                        </ul>
                    </div>


                </div>
                <!-- /.col-md-9 -->

                <!-- *** RIGHT COLUMN END *** -->

            </div>

        </div>
        <!-- /.container -->
    </div>

{% endblock %}